@model AddCameraViewModel

@{ 
    ViewData["Title"] = "Add Cameras";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Make"></label>
                <select asp-for="Make" asp-items="Html.GetEnumSelectList<CameraMakeType>()" class="form-control"></select>
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinShutterSpeed"></label>
                <input asp-for="MinShutterSpeed" class="form-control" />
                <span asp-validation-for="MinShutterSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxShutterSpeed"></label>
                <input asp-for="MaxShutterSpeed" class="form-control" />
                <span asp-validation-for="MaxShutterSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinISO"></label>
                <select asp-for="MinISO" asp-items="Html.GetEnumSelectList<MinISOType>()" class="form-control"></select>
                <span asp-validation-for="MinISO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxISO"></label>
                <input asp-for="MaxISO" class="form-control" />
                <span asp-validation-for="MaxISO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFullFrame"></label>
                <input asp-for="IsFullFrame" type="radio" value="True" /> Yes
                <input asp-for="IsFullFrame" type="radio" value="False" /> No
                <span asp-validation-for="IsFullFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoResolution"></label>
                <input asp-for="VideoResolution" class="form-control" />
                <span asp-validation-for="VideoResolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightMetering"></label>
                <input type="checkbox" name="LightMetering" value="@((int)LightMeteringType.Spot)"/> Spot
                <input type="checkbox" name="LightMetering" value="@((int)LightMeteringType.Evaluative)" /> Evaluative
                <input type="checkbox" name="LightMetering" value="@((int)LightMeteringType.CenterWeighted)" /> Center Weighted
                <span asp-validation-for="LightMetering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
